.navbar-collapse {
  background-color: #f3e5ab;
}

.navbar-collapse ul li a {
  color: #333;
}

#main-content {
  min-height: 1000px;
  background-color: #e8f5e9;
  padding: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
